# used to configure the code based on network see: hardhat.config.js
BLOCKCHAIN_NETWORK=hardhat

# coin market cap key to estimate the gas cost in unit tests
BLOCKCHAIN_CMC_KEY=

# scanner API key
BLOCKCHAIN_SCANNER_KEY=

# localhost settings
BLOCKCHAIN_LOCALHOST_PRIVATE_KEY=
BLOCKCHAIN_LOCALHOST_NFT_ADDRESS=
BLOCKCHAIN_LOCALHOST_TOKEN_ADDRESS=
BLOCKCHAIN_LOCALHOST_STORE_ADDRESS=
BLOCKCHAIN_LOCALHOST_DEALS_ADDRESS=
BLOCKCHAIN_LOCALHOST_STAKING_ADDRESS=

# testnet settings
BLOCKCHAIN_TESTNET_PRIVATE_KEY=
BLOCKCHAIN_TESTNET_NFT_ADDRESS=0xDD7b31a1A6e22C05C1979801E4d0F767202F4a8A
BLOCKCHAIN_TESTNET_TOKEN_ADDRESS=0x8658B1EC7e43474c1B95e6415EE38A5DE4dc0B7B
BLOCKCHAIN_TESTNET_STORE_ADDRESS=0x0F75C37311237633791d8cBc7Ee9ffc94364331E
BLOCKCHAIN_TESTNET_DEALS_ADDRESS=0xB2c8c1F45c5583f30C56678a5cAc7541C41B193D
BLOCKCHAIN_TESTNET_STAKING_ADDRESS=0x5E20803D32756a69dE93cea0c2958aC1Ca198a57

# mainnet settings
BLOCKCHAIN_MAINNET_PRIVATE_KEY=
BLOCKCHAIN_MAINNET_NFT_ADDRESS=0x641475850e0316220a2D7E902508E08F72848316
BLOCKCHAIN_MAINNET_TOKEN_ADDRESS=
BLOCKCHAIN_MAINNET_STORE_ADDRESS=
BLOCKCHAIN_MAINNET_DEALS_ADDRESS=
BLOCKCHAIN_MAINNET_STAKING_ADDRESS=