# used to configure the code based on network see: hardhat.config.js
BLOCKCHAIN_NETWORK=hardhat

# coin market cap key to estimate the gas cost in unit tests
BLOCKCHAIN_CMC_KEY=

# scanner API key
BLOCKCHAIN_SCANNER_KEY=

# localhost settings
BLOCKCHAIN_LOCALHOST_PRIVATE_KEY=
BLOCKCHAIN_LOCALHOST_NFT_ADDRESS=
BLOCKCHAIN_LOCALHOST_TOKEN_ADDRESS=
BLOCKCHAIN_LOCALHOST_STORE_ADDRESS=
BLOCKCHAIN_LOCALHOST_STAKING_ADDRESS=
BLOCKCHAIN_LOCALHOST_SOFTING_ADDRESS=

# testnet settings
BLOCKCHAIN_TESTNET_PRIVATE_KEY=
BLOCKCHAIN_TESTNET_NFT_ADDRESS=0xDD7b31a1A6e22C05C1979801E4d0F767202F4a8A
BLOCKCHAIN_TESTNET_TOKEN_ADDRESS=0x2562C7d1D790DeE90D43959Db00b642AD21375f0
BLOCKCHAIN_TESTNET_STORE_ADDRESS=0x3A953e393841C07d43E415Ad3Ba7Ca1e68E558c3
BLOCKCHAIN_TESTNET_STAKING_ADDRESS=0x3DA7c73403652F88Bf8F61be08BB09a44a8D491B
BLOCKCHAIN_TESTNET_SOFTING_ADDRESS=0x61d1fbAf8ce08f6C554E97419E336cc89204c6dC

# mainnet settings
BLOCKCHAIN_MAINNET_PRIVATE_KEY=
BLOCKCHAIN_MAINNET_NFT_ADDRESS=0x641475850e0316220a2D7E902508E08F72848316
BLOCKCHAIN_MAINNET_TOKEN_ADDRESS=0xb33Ac190E67993BF584aAd1453BC4Ed668eA6072
BLOCKCHAIN_MAINNET_STORE_ADDRESS=0x9999e0e4846618aB2750754167Ec698754211774
BLOCKCHAIN_MAINNET_STAKING_ADDRESS=0xa20095F3893039B5143710ba7CE476860B2572e6
BLOCKCHAIN_MAINNET_SOFTING_ADDRESS=0xAC06425358ddECC1dF7bea26C5732cFE41dD4a21