# used to configure the code based on network see: hardhat.config.js
BLOCKCHAIN_NETWORK=hardhat

# coin market cap key to estimate the gas cost in unit tests
BLOCKCHAIN_CMC_KEY=

# scanner API key
BLOCKCHAIN_SCANNER_KEY=

# localhost settings
BLOCKCHAIN_LOCALHOST_PRIVATE_KEY=
BLOCKCHAIN_LOCALHOST_NFT_ADDRESS=
BLOCKCHAIN_LOCALHOST_TOKEN_ADDRESS=
BLOCKCHAIN_LOCALHOST_STORE_ADDRESS=
BLOCKCHAIN_LOCALHOST_DEALS_ADDRESS=
BLOCKCHAIN_LOCALHOST_STAKING_ADDRESS=

# testnet settings
BLOCKCHAIN_TESTNET_PRIVATE_KEY=
BLOCKCHAIN_TESTNET_NFT_ADDRESS=0xDD7b31a1A6e22C05C1979801E4d0F767202F4a8A
BLOCKCHAIN_TESTNET_TOKEN_ADDRESS=0x8Fd7e3aa212c92837016b45Ade37eB383FaBdDF3
BLOCKCHAIN_TESTNET_STORE_ADDRESS=0x70596eA7FE0F29F809B46a0F96B06b142bb20292
BLOCKCHAIN_TESTNET_DEALS_ADDRESS=0x6BdC000EEd38CA1a5b29a0168a95D16cE0914C5C
BLOCKCHAIN_TESTNET_STAKING_ADDRESS=0xe5e883E395ee580d9C50B195317d8D90916bAf0b

# mainnet settings
BLOCKCHAIN_MAINNET_PRIVATE_KEY=
BLOCKCHAIN_MAINNET_NFT_ADDRESS=0x641475850e0316220a2D7E902508E08F72848316
BLOCKCHAIN_MAINNET_TOKEN_ADDRESS=
BLOCKCHAIN_MAINNET_STORE_ADDRESS=
BLOCKCHAIN_MAINNET_DEALS_ADDRESS=
BLOCKCHAIN_MAINNET_STAKING_ADDRESS=